<table>
	<tr>
		<td style="height: 35px; width: 35px; background-color: lightgrey;"></td>
		<td style="height: 35px;  width: 200px; background-color: lightgrey;"></td>
		<td style="height: 35px;  width: 35px; background-color: lightgrey;"></td>
	</tr>
	<tr>
		<td style="width: 35px; background-color: lightgrey;"></td>
		<td style="width: 200px; background-color: white;">
			New comment added on <%= @comment.parent_type %>: <%= @comment.parent.content %> 

			<br>

			Comment: <%= @comment.content %>


			<br>

			Regards

		</td>
		<td style="width: 35px; background-color: lightgrey;"></td>

	</tr>

	<tr>
		<td style="height: 35px; width: 35px; background-color: lightgrey;"></td>
		<td style="height: 35px;  width: 200px; background-color: lightgrey;"></td>
		<td style="height: 35px;  width: 35px; background-color: lightgrey;"></td>
	</tr>


</table>




